#page td {
    padding:0; margin:0;
 }
 #page {
    border-collapse: collapse;
 }
 body{
     background: url("images/dc-bg.png");
     background-repeat: repeat;
     background-size: 100%;
 }
 a{
     color:white;
     text-shadow: 2px 2px 0px red;
     text-decoration: none;
 }
 a:hover {
    text-shadow: 2px 2px 0px green;
 }
 #special-links img {
    width:0.7em;
    opacity:0.8;
    filter: saturate(0);
 }
#special-links a {
    text-shadow:none;
}
#special-links a:hover {
    color:red;
}

.ml-form-embedBodyHorizontal {
	margin-top:3px !important;
	padding-top:3px !important;
}

.ml-validate-required {
	margin-bottom:3px !important;
	padding-bottom:3px !important;
}

.ml-form-embedWrapper {
	filter: brightness(0.9);
	box-shadow: 2px 2px 0px red;
	
}
.ml-form-embedWrapper p {
	font-family:"2Credits",Arial,sans-serif !important;
}
.ml-form-embedWrapper strong {
	font-family:"2Credits",Arial,sans-serif !important;
	font-size: 14px !important;
}

 /*html, body, #page {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}*/
@font-face {
    font-family:"2Credits";
    src: url("fonts/2Credits.ttf");
}
@font-face {
    font-family:"YesevaOne";
    src: url("fonts/YesevaOne.ttf");
}
@font-face {
    font-family:"Roboto-Bold";
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family:"Roboto-BoldItalic";
    src: url("fonts/Roboto-BoldItalic.ttf");
}

.yes{
	font-family:"YesevaOne",Arial,sans-serif !important;
}
.rob{
	font-family:"Roboto-Bold",Arial,sans-serif !important;
}
.robi{
	font-family:"Roboto-BoldItalic",Arial,sans-serif !important;
}
body {
    background-color: black;
    padding:0px;
}
#special-links{
    margin-left:auto;
    margin-right:auto;
    color:#fffb;
    text-align: center;
    font-family:"2Credits",Arial,sans-serif;
    font-size:1.2em;
    padding:0;
    margin-top:0;
    
}
.urgentlink {
	display:block;
	animation-name: urgentlinkanim;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	padding-left: 15px;
	margin-left:-15px;
	padding-right: 15px;
	margin-right:-15px;
	padding-top:4px;
	padding-bottom:4px;
	border: solid 2px;
	border-radius:2px;
	text-shadow:none;
	font-size:0.8em;
}
.urgentlink2 {
	display:block;
	animation-name: urgentlinkanim2;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	padding-left: 15px;
	margin-left:-15px;
	padding-right: 15px;
	margin-right:-15px;
	padding-top:4px;
	padding-bottom:4px;
	border: solid 2px;
	border-radius:2px;
	text-shadow:none;
	font-size:0.8em;
}
@keyframes urgentlinkanim {
	0% {border-color: red;}
	25% {border-color:black;}
	50% {border-color:yellow;}
	75% {border-color:black;}
	100% {border-color: red;}
}
@keyframes urgentlinkanim2 {
	0% {border-color: cyan;}
	25% {border-color:black;}
	50% {border-color:green;}
	75% {border-color:black;}
	100% {border-color: cyan;}
}
#special-links a {
    color: #fff;
   // text-decoration: underline overline;
   background-color:#111;
   padding:2px 12px 2px 12px;
   border: 2px solid #fff8;
}
/* a.c3 {color: #f64044}
.c1 {color:#f9971c}
.c6 {color: #f8c854}
.c0 {color:#84c76f}
.c4 {color: #43ab8a}
.c5 {color:#84cfca}
.c2 {color: #51b2dc}
.c7 {color:#9d63d3} */
#text-body,#calendar-body,.tagline{
    margin-left:auto;
    margin-right:auto;
    color:white;
    text-align: center;
    align-items: center;
    align-content: center;
    font-family:"2Credits",Arial,sans-serif;
	font-size:1.3em;
    padding:0;
    margin-top:0;
}
.tagline {
    color:#fffd;
}
h3{
    text-align:left;
    font-family:"2Credits",Arial,sans-serif;
    size:20;
    color:white;
    margin-bottom:0;
}
.friend-links {
    width: 50%;
    text-align:center;
    margin-left:25%;
}
.friend-links img {
    margin-top:15px;
    border-radius:3px;
    box-shadow: 0px 0px 15px #fff3;
    filter: saturate(0.1) contrast(1.2);
}
.friend-links img:hover {
    filter: saturate(1);
    box-shadow: 0px 0px 15px #fff8;
}
h4{
    margin:0 0;
    padding:0;
    text-align:left;
    font-family:"2Credits",Arial,sans-serif;
    size:17;
    color:white;
}

@keyframes wobbly {
    0%, 100% {
      transform: translate3d(2px, 2px, 0);
    }
    
    25% {
      transform: translate3d(-2px, 2px, 0);
    }
  
    50% {
      transform: translate3d(-2px, -2px, 0);
    }
  
    75% {
      transform: translate3d(2px, -2px, 0);
    }
  }

.wobble1 {
    animation: wobbly 7.82s linear both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
}
.wobble2 {
    animation: wobbly 7.82s linear both;
    animation-direction:reverse;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
}
.wobble5 {
    animation: wobbly 12.32s linear both;
    animation-direction:reverse;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
}
.wobble4 {
    animation: wobbly 12.32s linear both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
}
.wobble3 {
    animation: wobbly 9.32s linear both;
    animation-direction:reverse;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
}
.wobble0 {
    animation: wobbly 9.32s linear both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
}
#text-body{
    width:20%;
}
#calendar-body{
    width:50%;
    text-align:right;
    color:#ffffffaa;
}
#game-labels-body{
    width:30%;
    text-align:right;
    color:#ffffffaa;
    box-shadow: 7px 7px 5px black;
}
#center-logo-container{
    width:20vmax;
    padding:0;
    margin:10vmax auto;
    margin-bottom:15px;
}
#center-logo-container-small{
    width:10vmax;
    padding:0;
    margin:10% auto;
    margin-bottom:15px;
}
#game-shrinker{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    border: none !important;
}
#game-frame{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    vertical-align: middle;
    border-style:dashed;
    border-color:#ffffff11;
    border-width:3px;
}